body{
	font-family: 'Open Sans', sans-serif;
	color: #505763;
	font-size: 14px;
	font-weight: 400;
	background: #f5f7fa;
}

h1,h2,h3,h4,h5{
	font-weight: 600;
}

h2{
	font-size: 22px;
}

h3{
	font-size: 18px;
}

*, a{outline: none; text-decoration: none;}


ul, li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}




.bg-light {
 	background-color: #fff !important;
	min-height: 83px;
	box-shadow: 0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
	position: sticky;
    top:0;
    z-index: 9;
}

.nav-item {
    padding: 0 10px;
}

.navbar-light .navbar-brand {
    padding: 0;
}

.navbar-expand-lg .navbar-nav {
    align-items: center;
}

.nav-item.search {
    align-items: center;
    display: flex;
    font-size: 18px;
    position: relative;
}

.search-from {
    position: absolute;
    left: 0px;
    top: 0;
    min-width: 477px;
    display: none;
    width: 100%;
}
.form-control {
    font-size: 13px;
}

.search-from input {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 44px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
}
.search:hover .search-from{
    display: block;
}

.search-down {
    position: relative;
    background: #fff;
    border-width: 0 1px 1px;
    border-color: #ddd;
    border-style: solid;
    top: 0;
    left: 0;
    width: 100%;
    float: left;
}

.search-down ul li a {
    font-size: 13px;
    padding: 10px 17px;
    line-height: 15px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
}
.search-down ul li a:last-child{
    border-bottom: 0px;
}

.search-down ul li a:hover{
  color: #0468ff;  
}


.nav-item.dropdown span {

    background:#686f7a;
	width: 44px;
    height: 44px;
	display: inline-block;
	border-radius: 50%;
	color:#fff;
    text-align: center;
    line-height: 45px;

}


.navbar-light .navbar-nav .nav-link:after{
    display: none;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #0468ff;
border-bottom: 2px solid#0468ff;
}

.navbar-expand-lg .navbar-nav .nav-link{
    border-bottom: 2px solid transparent;
    color: #505763;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #0468ff;
    border-bottom: 2px solid#0468ff;
}

.latest-news p {
    background: #0468ff;
	color:#fff;
    margin: 0;
    padding: 10px;
}

.latest-courses{
	background: rgb(28,176,146);
    background: linear-gradient(90deg,rgba(28,176,146,1) 0%,rgba(66,213,184,1) 100%);
}

.new-blogs{
	background: rgb(67,155,255);
	background: linear-gradient(90deg, rgba(67,155,255,1) 0%, rgba(110,177,255,1) 100%);
}

.new-events{
	background: rgb(255,97,123);
	background: linear-gradient(90deg, rgba(255,97,123,1) 0%, rgba(255,132,152,1) 100%);
}

.latst-add-block{  
    width: 100%;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    position: relative;
}

.latst-add-block:hover{
	text-decoration: none;
	color: #fff;
}

.latst-add-block span {
    position: absolute;
    right: 30px;
    bottom: 7px;
    font-size: 20px;
}

.icon {
	margin: 0 15px 0 0;
    background:rgba(0,0,0,0.5);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;

}

.latst-add-block .content {
    display: flex;
    flex-direction: column;
   justify-content: start;
}

.latst-add-block .content h2 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin: 0;

}

.latst-add-block .content p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0;

}

.latst-add-block:hover .block-hover {
    display: flex;
}

.latest-courses .block-hover{
	background: rgb(28,176,146);
    background: linear-gradient(90deg,rgba(28,176,146,1) 0%,rgba(66,213,184,1) 100%);
}

.new-blogs .block-hover{
	background: rgb(67,155,255);
	background: linear-gradient(90deg, rgba(67,155,255,1) 0%, rgba(110,177,255,1) 100%);
}

.new-events .block-hover{
	background: rgb(255,97,123);
	background: linear-gradient(90deg, rgba(255,97,123,1) 0%, rgba(255,132,152,1) 100%);
}

.block-hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-around;
}

.learingpath-section {
    width: 100%;
    position: relative;
}
.block-content {

    width: 100%;
    float: left;

}

.section-title{
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px;
}

.section-title h2 {
    display: flex;
    justify-content: space-between;
    color:#000;
    margin: 0;
}

.section-title a {
    color: #0073be;
    font-size: 14px;
    line-height: 14px;
    padding-top: 9px;
}
.course-icon {
    width: 64px;
    height: 64px;
    background: #fff;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	box-shadow: 0px 1px 8px
    rgba(0,0,0,0.3);
    margin: 0 15px 0 0;
    border-radius: 3px;
    padding: 8px;
}

.course-text-top-info h3 {
    font-size: 18px;
    margin: 0;
}

.course-text-top-info p {
    font-size: 14px;
    margin: 0;
}



.outline-btn {
    border: 1px solid rgba(111,104,122,0.3);
    min-width: 111px;
    height: 39px;
    border-radius: 3px;
    line-height: 37px;
    text-align: center;
    color:#686f7a;
    display: flex;
	justify-content: center;
}

.outline-btn:hover{
	text-decoration: none;
	background: #0468ff;
	color: #fff;
}

.outline-btn.active {
    text-decoration: none;
    background: #0468ff;
    color: #fff;
}



.blue-btn {
    background: #0468ff;
    min-width: 111px;
    height: 39px;
    border-radius: 3px;
    line-height: 37px;
    text-align: center;
    color:#fff;
    display: flex;
    justify-content: center;
}

.blue-btn:hover{
    text-decoration: none;
    opacity: 0.8;
    color: #fff;
}

.blue-btn.active {
    opacity: 0.8;
}

.disabled{
    pointer-events: none;
    opacity: 0.6
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 2px;
    font-size: .75rem;
    background-color: #686f7a;
    border-radius: .25rem;
    overflow: initial;
    margin: 15px 0 0;
}

.progress-bar.bg-info {
    height: 6px;
    margin-top: -3px;
    background-color: #0468ff !important;
}

.block-bg{
	background: #fff;
	box-shadow: 0px 1px 8px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding:20px 15px;
    position: relative;
    float: left;
    width: 100%;
}

.event-img {
    margin: 0 15px 0 0;
}

.date h2 {
    color:#0468ff;
    font-size: 33px;
    font-weight: 600;
    float: left;
    line-height: 25px;
}

.block-content h2 a{
	color: #505763;
}

.date h2 span {
    color: #191919;
    font-size: 14px;
    float: right;
    line-height: 14px;
    padding: 0 0 0 4px;
    width: 37px;
	word-wrap: break-word;
}

.block-bg .click-arrow {
	color:#000;
    position: absolute;
    right: 12px;
    bottom: 4px;
    font-size: 17px;

}

.block-content h3 a{
	color: #505763;
}

footer{
	width: 100%;
	position: relative;
	padding:20px 0;
	background: #fff;
}


/******************   HOME PAGE END  *******************/

.courses-listing-section .block-img{
	background: #f5f7fa;
    align-self: center;
}
.blog-list h2{
	float: left;
}
.blog-list a{
	float: left;
}



.blog-list .rating > label { 	
 margin: 0 1px;
}

.blog-list .rating p{
	font-size: 12px;
	float: left;
	padding: 2px 0 0 6px;
	margin: 0;
	width: auto;
}

.blog-list .rating-block p {
    float: left;
    width: auto;
    margin: 0;
}


.blog-list p {
    float: left;
    width: 100%;
}



.course-info{
    width: 100%;
}

.course-info p span{
	text-transform: uppercase;
	font-weight: 600;
}

.filter ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.filter ul li a{
	color: #000000;
	font-weight: 600;
	width: 100%;
}
.filter ul li{
	margin: 0 0 10px 15px
}
.filter ul li li a{
	color: #000000;
	font-weight: normal;
}

.filter ul li a:hover, .filter ul li a.active{
    color: #0468ff;
}


/************************** COURSE LIST END **********************************/

.rating-block {
    float: left;
    width: 216px;
    margin:5px 0 0 6px;
}


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 

.rating > label { 
  color: #000; 
 float: right; 
 font-size: 14px;
 margin: 0;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #ff0000;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #ff0000;  } 



/******************************* RATING END    ************************************/

.course-short-dis{
background: #0569ff;
width: 100%;
position: relative;
padding: 30px 0;	
}

.course-short-dis .course-head{
	width: 100%;
	float: left;
}


.course-short-dis .course-head h1{
	color:#fff;
	float: left;
	font-size: 32px;
}

.course-short-dis .course-head h1 a{
	color:#fff;
	float: left;
}


.course-short-dis .course-head .rating-block {
    margin: 11px 0 0 6px;
}

.course-short-dis .course-head .rating-block p {
    font-size: 12px;
    padding: 2px 0 0 6px;
    color: #fff;
}

.white-btn{
	background: #fff;
	border-radius: 3px;
	color: #0569ff !important;
	width:111px;
	height: 39px;
	line-height: 39px;
	display: flex;
	justify-content: center;
}
.user-img .white-btn{
margin: 0 auto;
color: #0468ff;
}

.corse-brief {
    width: 100%;
    position: relative;
    border-bottom: 1px solid 
    #ddd;
    padding: 10px 0;
}

.corse-brief p{
	line-height: 14px;
}

.corse-brief ul {
    display: flex;
    align-items: center;
}
.corse-brief ul li {
    margin: 0 3%;
    font-size: 13px;
}
.corse-brief ul li:first-child {
    margin-left: 0;
}
.accordion .card-header{
	position: relative;
}
.accordion .card-header::after {
    background-image: url(../img/angle-up.svg);
    float: right;
    content: '';
    width: 12px;
    height: 20px;
}
.accordion .card-header.collapsed::after{
    /* symbol for "collapsed" panels */
    background-image: url(../img/angle-down.svg);
    float: right;
    content: '';
    width: 12px;
    height: 20px;
}


.accordion .card {
    border-width: 0 0 1px 0 !important;
    border-color: #ddd !important;
	background:transparent;
    border-style: solid !important;
}

.accordion .card .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: 
    transparent;
    border-bottom: none;
}

.accordion .card .card-body{
	padding:0 1.25rem;
}

.accordion .card .card-body li {
    padding: 12px 0;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.accordion .card .card-body li a{
	font-size: 13px;
}

.accordion .card .card-body li a i{
	font-size: 13px;
	opacity: 0.8;
}

.scroll {

    max-height:300px;
    overflow: hidden;
    height: 100%;
    float: left;
    width: 100%;

}
.accordion {

    height: 100%;
    overflow: auto;

}

.list-ul li{
	font-size: 14px;
	position: relative;
	padding: 8px 0 8px 25px;
}

.list-ul li::before {
    position: absolute;
    content: '';
    top: 13px;
    left: 0;
    background-image: url(../img/check.svg);
    width: 30px;
    height: 30px;
    background-size: 50%;
    background-repeat: no-repeat;
    color:#0569ff;
}

.trainer-insrtruction ul li{
	margin:0 0 10px;
}

.career-opp .list-ul li {
    width: 40%;
    float: left;
}


/*********************************    DETAIL PAGE END     *******************************************/
.block-img.blog-img {
    margin: 0 10px 0 0;
}


.feedback-icon {
    position: fixed;
    bottom: 30px;
    height: 40px;
    background: #007bff;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    right: 25px;
    width: 84px;
    font-size: 14px;
    box-shadow: 0px 1px 8px
    rgba(0,0,0,0.3);
}

.feedback-icon:hover{
    color: #fff;
}

.tooltip-inner {
    background-color: #000;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #000 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-right-color: #000 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #000 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #000 !important;
}



/*******************   LOADER CSS START   **************************/

.loader-bg {
    background: rgba(5,105,255,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cube-folding {
  width: 50px;
  height: 50px;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 0;
}
.cube-folding span {
  position: relative;
  width: 25px;
  height: 25px;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  display: inline-block;
}
.cube-folding span::before {
  content: '';
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -moz-animation: folding 2.5s infinite linear both;
  -webkit-animation: folding 2.5s infinite linear both;
  animation: folding 2.5s infinite linear both;
}
.cube-folding .leaf2 {
  -moz-transform: rotateZ(90deg) scale(1.1);
  -ms-transform: rotateZ(90deg) scale(1.1);
  -webkit-transform: rotateZ(90deg) scale(1.1);
  transform: rotateZ(90deg) scale(1.1);
}
.cube-folding .leaf2::before {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #f2f2f2;
}
.cube-folding .leaf3 {
  -moz-transform: rotateZ(270deg) scale(1.1);
  -ms-transform: rotateZ(270deg) scale(1.1);
  -webkit-transform: rotateZ(270deg) scale(1.1);
  transform: rotateZ(270deg) scale(1.1);
}
.cube-folding .leaf3::before {
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  background-color: #f2f2f2;
}
.cube-folding .leaf4 {
  -moz-transform: rotateZ(180deg) scale(1.1);
  -ms-transform: rotateZ(180deg) scale(1.1);
  -webkit-transform: rotateZ(180deg) scale(1.1);
  transform: rotateZ(180deg) scale(1.1);
}
.cube-folding .leaf4::before {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  background-color: #e6e6e6;
}

@-moz-keyframes folding {
  0%, 10% {
    -moz-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -moz-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -moz-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes folding {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes folding {
  0%, 10% {
    -moz-transform: perspective(140px) rotateX(-180deg);
    -ms-transform: perspective(140px) rotateX(-180deg);
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -moz-transform: perspective(140px) rotateX(0deg);
    -ms-transform: perspective(140px) rotateX(0deg);
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -moz-transform: perspective(140px) rotateY(180deg);
    -ms-transform: perspective(140px) rotateY(180deg);
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
.cube-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  text-align: center;
}
.cube-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  width: 90px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
  -moz-animation: shadow 0.5s ease infinite alternate;
  -webkit-animation: shadow 0.5s ease infinite alternate;
  animation: shadow 0.5s ease infinite alternate;
}
.cube-wrapper .loading {
  font-size: 12px;
  letter-spacing: 0.1em;
  display: block;
  color: white;
  position: relative;
  top: 25px;
  z-index: 2;
  -moz-animation: text 0.5s ease infinite alternate;
  -webkit-animation: text 0.5s ease infinite alternate;
  animation: text 0.5s ease infinite alternate;
}

@-moz-keyframes text {
  100% {
    top: 35px;
  }
}
@-webkit-keyframes text {
  100% {
    top: 35px;
  }
}
@keyframes text {
  100% {
    top: 35px;
  }
}
@-moz-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@-webkit-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}

/***********************    Profile Page     ******************************/
.card.card-small {
    box-shadow: 0px 1px 8px 
    rgba(0,0,0,0.3);
}
.profile-section .card-header {
    background-color: #fff;
}

.profile-section .profile-info .card {
    flex-direction: row;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.3);
}

.card-form__body {
    background-color:#fbfbfb;
}

.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}

.btn.dropdown-toggle.bg-white.rounded-pill.px-4.py-3.shadow-sm.bs-placeholder {
    display: block;
width: 100%;
height: calc(1.5em + .75rem + 2px);
padding: .380rem 1rem .380rem 0.85rem !important;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color:
#495057;
background-color:
#fff !important;
background-clip: padding-box;
border: 1px solid
    #ced4da;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/************************************ testimonial-section Start   ********************************************************/

.testimonial-section{
    width: 100%;
    position: relative;
}

.testimonial{
    padding: 70px 30px 30px;
    margin: 50px 0 0;
    border: 1px solid #007bff;
    position: relative;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #007bff;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    z-index: 9;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #5e595b;
    line-height: 27px;
    text-align: center;
    margin: 0;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 25px;
    color: #d7d7d7;
    position: absolute;
    top: 0;
    left: -23px;
}
.testimonial .title {
    display: none;
    padding: 10px;
    margin: 0 auto;
    background:rgba(0,0,0,0.7);
    font-size: 20px;
    font-weight: 700;
    color:#fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transition: width 1s;
    transition: width 1s;
}
.testimonial .post {
    font-size: 14px;
    color: #fff;
}

.testimonial:hover .title{
    display: flex;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.owl-nav {
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
}

.testimonial-section .owl-carousel .owl-nav button.owl-next, .testimonial-section .owl-carousel .owl-nav button.owl-prev {
    background: #007bff;
    color: #fff;
    width: 40px;
    height: 40px;
}

.testimonial-section .owl-carousel .owl-nav button.owl-next span, .testimonial-section .owl-carousel .owl-nav button.owl-prev span{
    font-size: 37px;
    padding: 0;
    margin: 0;
    line-height: 26px;
}

.owl-dots {

    display: none;

}

.modal-body .nav-item:first-child {
    padding-left: 0;
}


.full-screen {
    min-height: 100vh;
}

.v-center-box {
    min-height: 100%;
}

.home-user-avtar span {
    background-image:url(../img/img.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 76vh;
    background-size: cover;
    background-position: center center;
}



.newsletter-info h1 {
    font-size: 22px;
    text-transform: uppercase;
    color: 
    #000;
    font-weight: 700;
}   

.newsletter-info label {
    width: 100%;
    display: block;
    color: 
    #000;
    font-weight: 600;
}

.newsletter-info input {
    width: 100%;
    height: 45px;
    border: 1px solid 
    #ddd;
}

.newsletter-info .subtn {
    background: #0069d9;
    border: none;
    color:#fff;
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 22px 0 15px;
    font-size: 13px;
    float: left;
    line-height: 40px;
}

.newsletter-info {
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
}

.read-polciy {
    font-size: 12px;
    opacity: 0.5;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.newsletter .close {
    position: absolute;
    right: 7px;
    top: 0;
    font-size: 31px;
    z-index: 99
}





/************************************/

.tab-popup div.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.tab-popup div.card.card-plain {
    background: transparent;
    box-shadow: none;
}
.tab-popup div.card .card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    background: linear-gradient(60deg,#eee,#bdbdbd);
}

.tab-popup .card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}

.tab-popup .div.card .card-body{
    padding: 15px 30px;
}

.tab-popup div.card .card-header-primary {
    background: linear-gradient(60deg,#0468ff,#044ebc);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

.tab-popup div.card .card-header-danger {
    background: linear-gradient(60deg,#ef5350,#d32f2f);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);
}


.tab-popup .card-nav-tabs .card-header {
    margin-top: -30px!important;
}

.tab-popup .card .card-header .nav-tabs {
    padding: 0;
}

.tab-popup .nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.tab-popup .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.tab-popup .nav-tabs .nav-item {
    margin-bottom: -1px;
}

.tab-popup .nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0,0%,100%,.2);
    transition: background-color .3s .2s;
}

.tab-popup .nav-tabs .nav-item .nav-link{
    border: 0!important;
    color: #fff!important;
    font-weight: 500;
}

.tab-popup .nav-tabs .nav-item .nav-link {
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s 0s;
}

.tab-popup .nav-link{
    display: block;
}

.tab-popup .nav-tabs .nav-item .material-icons {
    margin: -1px 5px 0 0;
    vertical-align: middle;
}

.tab-popup .nav .nav-item {
    position: relative;
}

.tab-popup .modal-content{
    background: 
    transparent;
    border: none;
}

.tab-popup .close {

    position: absolute;
    right: 5px;
    top: -43px;
    background-color: 

    #fff !important;
    width: 30px;
    height: 30px;
    opacity: 1 !important;
    border-radius: 50%;

}


.blog-post-info{
    width: 100%;
    float: left;
    margin: 0 0 20px;
}

.blog-post-info ul {
    float: left;
}

.blog-post-info ul li {
    float: left;
    margin: 0 12px;
}

.blog-post-info ul li:first-child{
    margin-left: 0;
} 


.blog-info p{
    color: #505763;
    font-size: 14px;
}

.blog-info .blue-btn{
    float: right;
}

/********************************   RESONSIVE CSS START      ********************************************/


@media screen and (max-width: 670px) {
    body{
        font-size: 13px;
    }
    
    h1,h2,h3,h4,h5{
        font-weight: 600;
    }
    
    h2{
        font-size: 18px;
    }
    
    h3{
        font-size: 16px;
    }
.navbar-expand-lg .navbar-nav {
    align-items: initial;
}
.upcoming-events .d-flex{
    display: block !important; 
}   

.block-img.blog-img {
    margin: 0 10px 0 0;
}

.right-section-list .time {
    text-align: left;
}

.date {
    float: left;
    margin: 5px 0 0;
}

.time {
    text-align: left;
    margin: 0 0 0 15px;
    float: left;
}

.blog-list-content .time {
    margin: 5px 0 0 0;
}

.block-img.event-img {
    margin: 0 0 15px 0;
    width: 100%;
}

.block-img.event-img img{
    width: 100%;
}

.event-list-content .venue{
    float: left;
    width: 100%;
}

.course-text-top-info h3 {
    font-size: 16px;
}   

.corse-brief ul {
    display: block;
}

.corse-brief ul li{
    margin: 0 0 10px;
}

.courses-listing-section .block-bg{
    display: block !important; 
    float: left;
    width:100%;
}

.courses-listing-section .block-bg .block-img{
    text-align: center;
    margin: 0 0 15px 0 !important;
    padding: 10px 0;
}

.rating-block {
    float: left;
    width: 100%;
    margin: 5px 0 5px -5px;
}

.course-info {
    width: 100%;
    display: block !important;
    margin: 10px 0 0 0;
    float: left;
}

.blog-list p{
    margin: 0;
}

.blog-list .course-info p {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 12px;
}

.pagination {
    margin: 0 0 15px;
}

.course-short-dis .course-head .rating-block {
    margin: 11px 0 0 0;
}

.blog-list h2 {
    float: left;
    margin: 0 !important;
}
.course-head {
    width: 100%;
    float: left;
    margin: 0 0 10px;
}

.home-user-avtar span{
    height: 40vh;
}
.read-polciy {
    position: relative;
}

.blog-listing .block-bg{
    display: block !important;
}

.blog-list-img {
    margin: 0 0 20px;
    text-align: center;
}

.blog-info .blue-btn {
    float: none;
}

}